In [37]:
##No1
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [39]:
##No2
import sys
print(sys.version)

3.9.13 (main, May 24 2022, 21:28:44)
[Clang 13.0.0 (clang-1300.0.29.30)]

In [49]:
##No3
import datetime
t=datetime.datetime.now()
print("Currrent date and time : \n" + (t.strftime("%Y-%m-%d %H:%M:%S")))

Currrent date and time :
2022-08-22 21:45:37

In [36]:
##No4
def area (r):
    import math
    area=math.pi*r**2
    return area
r=1.1
print(r)
print('r=' + str(r) + '\nArea=' +str(area(r)))

1.1
r=1.1
Area=3.8013271108436504

In [51]:
##No5
first_name=input("First name=")
last_name=input("Last name=")
print(last_name + " " + first_name)

First name= Longfei
Last name= Gao

Gao Longfei

In [77]:
##No6
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tup=tuple(list)
print('List : ',list)
print('Tuple : ',tup)

Input some comma seprated numbers :  1,2,3,4

List :  ['1', '2', '3', '4']
Tuple :  ('1', '2', '3', '4')

In [80]:
##No7
Filename=input()
print(Filename.split(".")[1])

 abc.java

java

In [84]:
##No8
def First_last_col(lt):
    first=lt[0]
    last=lt[-1]
    print("First color is " + first + "\nLast color is " + last)
color_list = ["Red","Green","White" ,"Black"]
First_last_col(color_list)

First color is Red
Last color is Black

In [90]:
##No9
def exam_date(inputdate):
    print("The examination will start from : " + str(inputdate[0]) + \
         " /" + str(inputdate[1]) +  " /" + str(inputdate[2]))
exam_st_date = (11, 12, 2014)
exam_date(exam_st_date)

print("The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 /12 /2014
The examination will start from : 11 / 12 / 2014

In [105]:
#No10
def sum (n):
    n=int(n)
    return n+(n*10)+n+(n*100)+(n*10)+n
n=input("Sample value of n is ")
print("Expected Result :" + str(sum(n)))

a = int(input("Input an integer : "))
n1 = int( "%x" % a )
n2 = int( "%x%x" % (a,a) )
n3 = int( "%x%x%x" % (a,a,a) )
print (n1+n2+n3)

Sample value of n is  5

Expected Result :615

Input an integer :  5

616

In [108]:
##No11
fnname="abs"

print(help(abs))
print("#"*20)
print(fnname.__doc__)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

None
####################
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [126]:
##No12
import calendar
calendar.setfirstweekday(6)
y = int(input("Input the year : "))
m = int(input("Input the month : "))
mm=calendar.month(y, m)
print(mm)

Input the year :  2022
Input the month :  8

    August 2022
Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [135]:
##No13
print("""
a string that you "don't" have to escape 
This 
is a ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [138]:
##No14
from datetime import date
f_date = date(2013, 11, 17)
l_date = date(2022, 8, 22)
delta = l_date - f_date
print(delta.days)

3200

In [140]:
##No15
def vol(r):
    from math import pi as p 
    return p*r**3*4/3

print(vol(6))

904.7786842338604

In [144]:
##No16
def com (n):
    if n>17 :
        return (2 * (int(n)-17))
    else:
        return (17- int(n))
print(com(20))
print(3)

6
3

In [148]:
##No17
def fd (n):
    if n>1000 and n<2000:
        print ("T")
    else:
        print("F")

fd(3)
fd(1343)
fd(5433)

F
T
F

In [150]:
##No18
def sum_of_three (n1,n2,n3):
    if n1==n2 and n2==n3:
        return (3*(n1+n2+n3))
    else:
        return n1+n2+n3

print(sum_of_three(1,2,3))
print(sum_of_three(1,1,1))

6
9

In [154]:
##No19
def ls_str (str):
    if "ls" in str:
        return str
    else:
        return ("ls"+str)
    
print(ls_str("ablsdfg"))

print(ls_str("abcd"))

ablsdfg
lsabcd

In [156]:
##No20
def nStr (n, str1):
    return (str1*n)
print(nStr(3,".py"))

.py.py.py

In [161]:
##No21
def EvenOROdd (n):
    if n%2:
        print(str(n) + " is an even number")
    else:
        print(str(n) + " is an odd number")
EvenOROdd(4)
EvenOROdd(5)

4is an odd number
5is an even number

In [165]:
##No22
def count4 (ls):
    n=0
    for x in ls:
        if x==4:
            n+=1
    print(n)

count4([1,2,3,4,4,44,55,3,4])

3

In [166]:
##No23
def strcopy(str11,n):
    if len(str11)<2:
        print(str11*n)
    else:
        print(str11[:2]*n)

strcopy("hello",3)
strcopy("h",3)

hehehe
hhh

In [173]:
##No24
def is_vowel(l):
    if l in 'aeiuo':
        print (l + " is a vowel")
    else:
        print  (l + " is not a vowel")
is_vowel('o')
is_vowel('b')

o is a vowel
b is not a vowel

In [178]:
##No25
def find_value (n, group):
    m=0
    for i in group:
        if n==i:
            m+=1
    if m:
        print(str(n) + " is in " + str(group))
    else:
        print(str(n) + " is not in " + str(group))
find_value(3,[1, 5, 8, 3])
find_value(-2,[1, 5, 8, 3])

In [ ]:
##No26
import matplotlib.pyplot as plt
x=[1,2,4,5]
print(x)
plt.hist(x)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.random.normal(170, 10, 250)
print(x)

In [ ]:
%reset_selective x
x

In [ ]:
1+1